
.titulo{
    font-size: 4em;
    font-weight: bold; 
}


.formulario_label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario_grupo-input {
	position: relative;
}

.formulario_input {
	width: 280px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario_input-error {
    font-size: small;
	margin-bottom: 0;
	display: none;
}

.formulario_input-error-activo {
	display: block;
}

.formulario_validacion-estado {
    position: relative;
	z-index: 100;
	font-size: 18px;
    opacity: 0;
}


.formulario_mensaje,
.formulario-btn-enviar {
	grid-column: span 2;
}

.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}

.formulario_mensaje p {
	margin: 0;
}

.formulario_btn {
	height: 45px;
	line-height: 45px;
	width: 60%;
	background: rgb(58, 121, 216);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario_btn:hover {
	box-shadow: 2px 0px 15px rgb(83, 83, 83);
}

.formulario_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-correcto .formulario_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}
